# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.development
.env.production

# Build
dist/
build/
out/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage
coverage/

# Capacitor
android/.gradle/
android/build/
android/app/build/
ios/App/Pods/